<!--

 ** Probably this entire page can be deleted and rewritten as needed.
 ** Nevertheless, provided is a decent template to stem from.

 -->

<style>
/* Some experimental styles
body {
    background: url('/img/softbackground.jpg') repeat;
}*/
.mainContainer {
    background: rgba(0,0,0, 0.82);
}

.col-lg-12 {
  color:white;
}
.navbar-brand {
  color: white !important;
}
body {
  background: url('/img/chipBlackWhite.jpg');
}
/***** Top menu FROM REGSTYLES.CSS *****/

.navbar {
	padding-top: 10px;
	background: #333;
	background: rgba(0,0,0, 0.82);
	border: 0;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.navbar.navbar-no-bg { background: none; }

ul.navbar-nav {
	font-size: 16px;
	color: #fff;
}

.navbar-inverse ul.navbar-nav li .li-text { opacity: 0.8; }

.navbar-inverse ul.navbar-nav li .li-social a {
	margin: 0 5px;
	font-size: 28px;
	vertical-align: middle;
}
.navbar-inverse ul.navbar-nav li .li-social a:hover,
.navbar-inverse ul.navbar-nav li .li-social a:focus { border: 0; color: #19b9e7; }


/*** Extras ***/
.btn-primary {
  color: #1997c6;
  background-color: transparent;
  border-color: #1997c6 !important;
}
.btn-primary:focus, .btn-primary:hover, .btn-primary:active, .btn-primary.active {
    color: #ffffff !important;
    background-color: #1997c6 !important;
    box-shadow: none !important;
}

.mainContainer {
  margin-top: 10px;
  /*border-radius:16px !important;*/
}

</style>
<script>
document.title = "Project name";
</script>


<div class="container" style="margin-top:30px;padding:0;line-height:3;">
  <header class="jumbotron hero-spacer" style="padding: 45px 25px;background: rgba(0,0,0, 0.82);color:white;border-radius:16px;">
    <div class="secondary" style="">
      <h1>Website</h1>
      <p>Stuff for things</p>
      <p><a class="btn btn-primary btn-large">Call to action!</a>
      </p>
    </div>
  </header>
</div>


<!-- Page Content -->
<div class="container mainContainer">

    <!-- Feature thumbnail things -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Big Header</h3>
        </div>
    </div>
    <div class="row text-center">


        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="/img/wikiraceScreen.png" alt="wikirace wikipedia racing game">
                <div class="caption">
                    <h3>header</h3>
                    <p>Lorem ipsum lorem ipsum lorem ipsum</p>
                    <p>
                        <a href="/" class="btn btn-primary">Visit Site</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="/img/wikiraceScreen.png" alt="wikirace wikipedia racing game">
                <div class="caption">
                    <h3>header</h3>
                    <p>Lorem ipsum lorem ipsum lorem ipsum</p>
                    <p>
                        <a href="/" class="btn btn-primary">Visit Site</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="/img/wikiraceScreen.png" alt="wikirace wikipedia racing game">
                <div class="caption">
                    <h3>header</h3>
                    <p>Lorem ipsum lorem ipsum lorem ipsum</p>
                    <p>
                        <a href="/" class="btn btn-primary">Visit Site</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="/img/wikiraceScreen.png" alt="wikirace wikipedia racing game">
                <div class="caption">
                    <h3>header</h3>
                    <p>Lorem ipsum lorem ipsum lorem ipsum</p>
                    <p>
                        <a href="/" class="btn btn-primary">Visit Site</a>
                    </p>
                </div>
            </div>
        </div>

    </div>





    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Header 2
            </h1>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i> Project Name</h4>
                </div>
                <div class="panel-body">
                    <img class="img-responsive img-portfolio img-hover"
                        style="width:328px;height:210px;"
                        src="/img/img.jpg" alt="">
                    <p>
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    </p>
                    <a href="/instafame" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i> Project Name</h4>
                </div>
                <div class="panel-body">
                    <img class="img-responsive img-portfolio img-hover"
                        style="width:328px;height:210px;"
                        src="/img/img.jpg" alt="">
                    <p>
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    </p>
                    <a href="/instafame" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i> Project Name</h4>
                </div>
                <div class="panel-body">
                    <img class="img-responsive img-portfolio img-hover"
                        style="width:328px;height:210px;"
                        src="/img/img.jpg" alt="">
                    <p>
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    </p>
                    <a href="/instafame" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

    <!-- Smaller Projects Row 1 -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                Smaller Projects
            </h3>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i> Header</h4>
                </div>
                <div class="panel-body">
                    <p>Description description description description</p>
                    <a href="/" class="btn btn-primary">Mac</a>
                    <a href="/" class="btn btn-primary">Windows</a>
                    <a href="/"
                        class="btn btn-default">Github</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i> Header</h4>
                </div>
                <div class="panel-body">
                    <p>Description description description description</p>
                    <a href="/" class="btn btn-primary">Mac</a>
                    <a href="/" class="btn btn-primary">Windows</a>
                    <a href="/"
                        class="btn btn-default">Github</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i> Header</h4>
                </div>
                <div class="panel-body">
                    <p>Description description description description</p>
                    <a href="/" class="btn btn-primary">Mac</a>
                    <a href="/" class="btn btn-primary">Windows</a>
                    <a href="/"
                        class="btn btn-default">Github</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <p>
                  If you have any questions about my projects or past work,
                  I may be contacted <a href="/termsAndContact">here.</a>
                </p>
                <p>
                  For my ongoing works and more specialized projects, I would invite you
                  to view my Github profile.
                </p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-default btn-block"
                    href="https://github.com/falconscript">
                  Github
                </a>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; 2016</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<script src="/js/dependencies/jquery.backstretch.min.js" type="text/javascript"></script>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
    interval: 10000 //changes the speed
});

$.backstretch([
     "/img/regBackgrounds/1.jpg"
   , "/img/regBackgrounds/2.jpg"
   , "/img/regBackgrounds/3.jpg"
 ], {duration: 3000, fade: 750}); // */

</script>
