<script>document.title = "Terms and Conditions":</script>


<div id="Contact" style="float:right;width:35%;height:100%;padding:30px;line-height:150%;margin-top:30px;">
	<div style="font-size:150%;font-weight:bold;">Contact</div><br />
	Hi! I'm just one guy making stuff in my free time for fun.<br /><br />
	If you have any comments, questions, or concerns, ideas, or experience any problems, feel free to email me at
	<i>SOMETHING_HERE@gmail.com</i>. I'm lazy with emails, but I'll try to get back to you when I can.
	<br /><br /><a href="/" style="text-decoration:underline;">Back to Home</a>
</div>

<div id="Terms" style="margin:30px;float:left;width:50%;height:600px;overflow-y:scroll;border: 2px black solid;padding:20px;">
		<div style="font-size:150%;font-weight:bold;">Terms and Conditions</div><br /><br />
	By using, viewing, or registering for <b>sites under this domain</b>, you agree to adhere to certain legal requirements presented below.<br />
	These issues also cover, but are not limited to, the responsibilities of you as an end user and those of <b>sites under this domain</b>. Scripts, code, and styles are property of the site creator unless stated in comments within files.<br /><br /><br />

  <div style="font-size:150%;font-weight:bold;">Extras</div>
	Upon any host switching or domain name changes, held rights and ownerships are carried over to the new domain or host. User information is expected to be true and owned by you. <b>Sites under this domain</b> and its owners are not responsible for any unauthorized use of content in which you do not own the rights to as user information.Any advertisements, uploads, user data,  <i>necessarily</i> held, represented, or endorsed by <b>sites under this domain</b> or its owners. Your IP and ISP information may be logged by <b>sites under this domain</b> automatically, mainly for traffic counting purposes. Bolded headers are only section separators based on relativity. Statements apply as far as stated. These terms are subject to change and continued use of these services marks agreement to follow the updated version. <b>Sites under this domain</b> and its owners reserve the rights to remove any user profile, user content, or other information gathered by the use of its services.<br /><br />

	<div style="font-size:150%;font-weight:bold;">Liability</div>
	IN NO EVENT SHALL <b>SITES UNDER THIS DOMAIN</b> AND ITS OWNERS BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES, INCLUDING LOST PROFIT DAMAGES ARISING FROM YOUR USE OF THEIR SERVICES, EVEN IF PRIORLY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, LIABILITY TO YOU OF <b>SITES UNDER THIS DOMAIN</b> AND ITS OWNERS FOR ANY CAUSE WHATSOEVER AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO THE AMOUNT PAID, IF ANY, BY YOU TO <b>SITES UNDER THIS DOMAIN</b> AND ITS OWNERS FOR THE SERVICES DURING THE TERM OF MEMBERSHIP OR USE.<br /><br />

	<div style="font-size:150%;font-weight:bold;">Privacy Policy</div>
	You extend to <b>sites under this domain</b> rights of your contact and registration by registering, using, and inputting data into the databases of <b>sites under this domain</b>.
	<b>Sites under this domain</b> and its owner promise to keep your information secured from outside sources to the best of their ability.
	<br /><br /><br /><br />

	All rights reserved. 2011.
</div>
