<script>
document.title = "Your profile - " + env.username;
</script>

<style>
body {
	background:#949494;
}
</style>

<br>
<center>
	<div style="font-size:300%;font-weight:bold;color:white;">
		Welcome to your User Page, <span class="username"></span>.
	</div>
    <br>
	<div style="padding:100px;background: #A2A2A2">
		<h1>Profile:</h1>

        <br /><br />

    	<table border='0' cellpadding='5' style="width:400px;font-size:200%;"><tr>
    	  <th>Data</th><th></th></tr>
    	  <tr>
    	    <td>ID</td>
    	    <td><span class="session_id"></span></td>
          </tr>
          <tr>
            <td>Username</span></td>
    	    <td><span class="session_username"></td>
          </tr>
          <tr>
    	    <td>Name</td>
    	    <td>
    	      <span class="session_firstName"></span>
    	      <span class="session_lastName"></span>
            </td>
          </tr>
          <tr>
            <td>Email Address</td>
    	    <td><span class="session_emailAddress"></span></td>
    	  </tr>
    	</table>


    </div>

    <br><br><br>
</center>

<h1>
  <a href="/" style="display:block;">
    <img src="http://i53.tinypic.com/2d8s4r8.jpg"
      style="border:transparent;" alt="Image Album Home">
	Back to Home Page
  </a>
</h1>
