#loginForm {
	border: 5px whitesmoke solid;
	background: white;
	padding: 10px;
	position: absolute;
	left: 170px;
	top: 170px;
	-webkit-box-shadow: 2px 2px 50px rgba(0,0,0,0.6);
	border-radius:4px;-moz-border-radius:4px;
}
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: black;
}
body {
    margin: 0;
    padding: 0;
	overflow:hidden;
	background-size:100%;
	z-index:10;
	/*background-image: url("");*/
}
#apoccomment {
display:block;position:absolute;
z-index:0;
left:0px; right:0px;
top:0px; bottom:0px;overflow:hidden;
height:100%;width:100%;
}
#bg {
z-index:0;
left:0px; top:0px;position:absolute;
height:100%;width:100%; overflow: hidden;
/*background-image:url("");*/
background-repeat: no-repeat;
}